* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: #121212; */
}

#notStartedHeading, #inProgressHeading, #completedHeading {
    font-size: x-large;
    -webkit-text-stroke: 1.1px;
    -webkit-text-stroke-color: black;
    text-transform: uppercase;
}

.to-do-panels {
    margin-top: 100px;
}

.NotStartedUL :hover, .InProgressUL :hover, .CompletedUL :hover li{
    border: 2px solid #3B82F6;
    position: relative;
    
    content: '';
    background-image: url('/Users/hkmughal/Documents/Professional/Coding/Projects/To-Do-List-Project/Media/image-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

#divNotStarted {
    margin-top: 0;
    position: absolute;
    top: 5%;
    left: 10%;
    box-sizing: border-box;
}

#divInProgress {
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 40%;
}

#divCompleted {
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 72%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #3b3b3b;
}

li {
    list-style-type: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 12px;

}

.panel_not-started, .panel_in-progress, .panel_completed {
    display: inline-block;
    border: 1px solid black;
    padding-left: 10px;       /* Optional horizontal spacing */
    padding-right: 10px;
    height: 600px;
    vertical-align: top; 
}


#notStartedHeading {
    color: #cc3232;
}

#inProgressHeading {
    color: #e7b416;
}

#completedHeading {
    color: #00ab66;
}

#addTasks {
    margin-top: 73%;
    margin-left: 15%;
}

#inputText {
    width: 320px;
    height: 35px;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 20px;
    border: 2px solid black;
}

#inputHeading {
    margin-left: 50px;
    font-size: 30px;
}

/* #submitSection{
    margin-top: 100px;
} */

#submitButton {
    width: 100px;
    height: 50px;
    margin-left: 80px;
    margin-top: 5px;
    font-size: large;
    font-family: 'Lato', sans-serif;
    background-color: #219ebc;
    cursor: pointer;
    
}